<!-- alert ui  -->
<!-- Beautiful alert from SweetAlert2 -->

<!DOCTYPE html>
<html>
  <body>
    <!-- import Sweetalert2  -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Begin alerts -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}

    <script>
      let msg = "{{ message }}";
      let cat = "{{category}}";
      if ("{{category}}" == "danger") {
        cat = "error";
      } else if ("{{category}}" == "found") {
        cat = "success";
      } else if ("{{category}}" == "not found") {
        cat = "warning";
        msg = "Please try again! <br>" + msg;
      } else if ("{{category}}" == "login") {
        cat = "success";
        msg = "Logged in Successfully! <br>" + msg;
      } else if ("{{category}}" == "logout") {
        msg = "Logout successfully! <br>" + msg;
        cat = "success";
      }
      Swal.fire({
        title:
          "{{ category.title() }}" == "Login" ||
          "{{ category.title() }}" == "Logout"
            ? "Success!"
            : "{{ category.title() }}!",
        // success , error , warning ,info, found, not found

        html: msg,
        // custom message flashed from flask

        icon: cat,
        // success , error , warning ,info, found

        focusConfirm: true,
        confirmButtonText: "Dismiss",
        confirmButtonAriaLabel: "Dismiss",
      });
    </script>

    {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
